<!DOCTYPE HTML>
<html>
    <head>
      <title>RESULTS!!!</title> 
    </head>
    
    <body>
      <h1>Get your fortune</h1>
      <h3>Hi, <%@the_user%>, your fortune is, <%=@the_fortune%> </h3>
      <img src="https://media.giphy.com/media/xT39D2UJcJ663GkPkY/giphy.gif">
    </body>
</html>